# Configurações de Acesso Cittati
CITTATI_USER=seu_usuario_aqui
CITTATI_PASS=sua_senha_aqui
POWERBI_URL=https://bi.cittati.com.br/...

# Diretório base dos dados
STORAGE_BASE_DIR=C:\Caminho\Para\OneDrive\Dados Operacionais

# Configurações Flask
FLASK_PORT=8080
FLASK_DEBUG=True